                                                                                                                     index.html                                                                                                                                <!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Fake News Searcher</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="./static/image/logo.png" style="border-radius: 100px;">
  <meta name="description" content="Un site web qui permet de d'ébusquer les fake-news dans un text en donnant quelque indication.">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel="stylesheet" href="./static/css/style.css">
  <script src="/static/js/main.js"></script>
  <script async src='/cdn-cgi/bm/cv/669835187/api.js'></script>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <h1 class="text-4xl font-bold text-white text-center my-12">
    Fake News Searcher
  </h1>

  <h1 class="text-2xl font-semibold text-white text-center mt-72">
    <span style="color: #4C76E3">Faites</span> une recherche.
  </h1>
  <div class="flex justify-center items-center w-full  my-3">
    <div class="relative w-2/5">
          <input id="input-data" onclick="RemoveDiv()" type="text" class="h-12 w-full pl-5 rounded-lg z-0 focus:shadow focus:outline-none" placeholder="Ecrivez un texte">
      <div class="absolute top-3 right-4">
            <i class="fa fa-search text-gray-400 z-20 hover:text-gray-500" onclick="PostData()">
                </i>
          </div>
    </div>
  </div>

  <div class="w-full overflow-y-auto max-h-96 no-scrollbar" id="remove">

  </div>


  <div class="flex justify-center items-center my-12 w-full mt-72">
    <div class="relative w-4/5">
          <h1 class="text-2xl font-bold text-white my-12">
          Qu'est ce que les fakes news ?
          </h1>

          <h1 class="text-2xl font-semibold text-white my-12">
          Les fake news sont des nouvelles mensongères diffusées dans le but de manipuler ou de tromper le public
          </h1>

    </div>
  </div>

<script type="text/javascript">(function(){window['__CF$cv$params']={r:'6d9e75b03fec6966',m:'079tjCocLusJqQ33VwTxmNPwZ9bIz.04aQMRuu5SUBE-1644256217-0-AdTehWdumjpaWzdjrd+dJ9aaHNTVw9kZWUiYwngyynCGWw6vt3WHb3xSL9UxSSCE3si0Ix+G3B2loyiKGARKp5yWHwyGT7hFVfoPsVxvXs9LOUGYVGTavBpl>
</html>
